#loginBox {
    max-width: 375px;
}
#loginBox input {
    width: 120px;
    margin-right: 10px;
    padding: 2px 10px;
}
#services-section, #contact-section {
    background-color: #1c040c;
}
#about-section, #projects-section {
    background-color: #111;
}

@media (max-width: 992px) {
    #loginBox {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;
        gap: 10px;
        max-width: none;
        width: 100%;
        padding: 10px;
        background-color: #222;
    }
    #loginBox input{
        min-width: 120px;
    }
    #LogInAccount {
        min-width: 90px;
    }
    .navbar {
        padding-top: 50px;
    }
    .ftco-navbar-light.scrolled.awake {
        padding-top: 40px;
    }
}